body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#FEFEFE;
    color: white;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/Formulario-login/img/caceOnline.jpg);
}

.container{
    text-align: center;
}

.logo-container{
    background-color: #EF0015;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form{
    text-align: center;
}
h1{
    font-size: 28px;
    margin-bottom: 20px;
}
.input-container{
    width: 100%;
    margin-bottom: 20px;
}
.logo-container img{
    width: 200px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 2px solid #EF0015;
    font-size: 18px;
}
button[type="submit"]{
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #EF0015;
    color: #fff;
    border-radius: 4px;
    cursor:pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover{
    background-color: red;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: white;
}

.remember-forgot label{
    display: flex;
    align-items: center;
}

.remember-forgot input[type="checkbox"]{
    margin-right: 10px;
    margin-top: 10px;
}

.signup-now{
    font-size: 18px;
}

.signup-now a{
    color: #EF0015;
    text-decoration: none;
}
.success-message{
    display: none;
    color:#2ecc71;
    font-size: 18px;
        margin-top: 20px;
}

